/*------------------------*\
      #STYLE DU FOOTER
\*------------------------*/

#footer {
    @include linear-gradient;
    margin-top: auto;
    margin-bottom: 0px;
}

/*---------------------------*\
      #STYLE DE BARRE DE
          NAVIGATION
\*---------------------------*/

.navbar-footer {
    @include flex-center;
}

#footer a {
    color: black;
    font-weight: bold;
  }