/*------------------*\
        #HEADER
\*------------------*/

#header {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
}

/*---------------------------*\
    #LIENS DU HEADER
\*---------------------------*/

.navbar ul {
    display: flex;
}

.navbar li {
    padding-right: 1rem;
    padding-left: 1rem;
}