@charset "UTF-8";
/**
 * TABLE DES MATIERES
 *
 * BASE
 * Général.................Styles généraux (body, H, a, containers, etc.)
 *
 * UNTILS
 * Variables...............Variables de couleurs
 * Mixins..................Mixins diverses
 *
 * LAYOUTS
 * Header..................Style du Header
 * Footer..................Style du footer
 *
 * COMPONENTS
 * Articles................Cartes des produits sur la page index
 *
 * PAGES
 * Index...................Style de la page index
 * Produit.................Style de la page produit
 *
 */
/*---------------------------*\
    #VARIABLES COULEURS
    IDENTITE GRAPHIQUE
\*---------------------------*/
/*---------------------------*\
      #STYLES GENERAUX
       BODY ET TITRES
\*---------------------------*/
html {
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: #F3E9F1;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 1rem;
}

/*---------------------------*\
      #STYLES DES LIENS
\*---------------------------*/
a {
  text-decoration: none;
  margin: 0rem;
  color: black;
  text-transform: capitalize;
}

/*---------------------------*\
      #STYLES DES LISTES
\*---------------------------*/
ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

/*--------------------*\
      #CONTENEURS
\*--------------------*/
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
}

.produit {
  background-color: white;
  margin: 0.5rem;
  width: 48%;
  border-radius: 0.8rem;
  overflow: hidden;
}
.produit a {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.produit__description {
  padding: 1rem;
}

#presentationProduits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.presentation-produit {
  height: 35rem;
  background-color: white;
  margin: 3rem 1rem 3rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}
.presentation-produit h2 {
  margin: 2rem 0rem 2rem 0rem;
  font-size: xx-large;
  text-align: center;
}
.presentation-produit__image {
  width: 50%;
}
.presentation-produit__texte {
  width: 50%;
  padding: 2rem;
}

.produit-texte__prix {
  font-size: large;
  font-weight: bold;
}

.personnaliser {
  /*&__titre {

  }*/
}
.personnaliser__couleur--couleur1 {
  background-color: red;
  height: 1rem;
  width: 1rem;
}
.personnaliser__couleur--couleur2 {
  background-color: blue;
  height: 1rem;
  width: 1rem;
}
.personnaliser__couleur--couleur3 {
  background-color: yellow;
  height: 1rem;
  width: 1rem;
}

/*------------------*\
        #HEADER
\*------------------*/
#header {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

/*---------------------------*\
    #LIENS DU HEADER
\*---------------------------*/
#header a {
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar li {
  padding-right: 1rem;
  padding-left: 1rem;
}

#footer {
  background: linear-gradient(to right, #8F5BFE, #E68A08);
  margin-top: auto;
  margin-bottom: 0px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
}

#footer a {
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
