body {
  margin: 0px;
}

a {
  text-decoration: none;
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
}