/*---------------------------*\
      #STYLES GENERAUX
       BODY ET TITRES
\*---------------------------*/
html {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: $color-tertiary;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 1rem;
}

h3 {
  margin: 0px;
}

/*---------------------------*\
      #STYLES DES LIENS
\*---------------------------*/
a {
  text-decoration: none;
  margin: 0rem;
  color: black;
  text-transform: capitalize;
}

/*---------------------------*\
      #STYLES DES LISTES
\*---------------------------*/
ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

/*--------------------*\
      #CONTENEURS
\*--------------------*/
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
}