/*-------------------*\
    #MIXIN DEGRADE
      DE COULEUR
\*-------------------*/
@mixin linear-gradient {
    background: linear-gradient(to right, $color-primary, $color-secondary);
}

/*-------------------*\
    #MIXIN FLEXBOX
\*-------------------*/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*------------------*\
    #MIXIN STYLE 
      ARTICLES
\*------------------*/
@mixin style-articles {
    background-color: white;
    margin: 3rem 1rem 3rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

/*------------------*\
       #MIXIN
    MEDIA QUERIES
\*------------------*/

@mixin first-breakpoint {
    @media screen and (max-width: 595px) {
      @content;
    }
  }

  @mixin second-breakpoint {
    @media screen and (max-width: 705px) {
      @content;
    }
  }