/*---------------------------*\
    #VARIABLES COULEURS
    IDENTITE GRAPHIQUE
\*---------------------------*/
$color-primary: #8F5BFE;
$color-secondary: #E68A08;
$color-tertiary: #F3E9F1;

$color-primary-hover: lighten($color-primary, 5%);
$color-secondary-hover: lighten($color-secondary, 5%);