/*---------------------*\
    #STYLE DU PANIER
\*---------------------*/

.panier {
    @include style-articles;
    padding: 0rem 2rem 2rem 2rem;


    &__legende-prix {
        text-align: right;
    }

    &__produit {
        @include flex-row-space-between;
        margin-top: 1rem;
        padding: 1rem 0rem;
        border-top: solid $color-primary 0.15rem;
        border-bottom: solid $color-primary 0.15rem;

        &--image {
            width: 10%;
            height: auto;
        }
    }

    &__total {
        @include flex-row-space-between;
    }
}

.formulaire {
    @include style-articles;
    padding: 0rem 2rem 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &__identite, &__adresse {
        display: flex;
        flex-direction: column;
        width: 45%;

        @include first-breakpoint {
            width: 100%;
        }
        

        label {
            margin: 0.5rem 0rem 0.2rem 0rem;
        }
    }
}