.presentation-produit {
    height: 35rem;
    @include style-articles;
    display: flex;
    
    h2 {
        margin: 2rem 0rem 2rem 0rem;
        font-size: xx-large;
        text-align: center;
    }

    &__image {
        width: 50%;
        object-fit: cover;
        object-position: left;
    }
    &__texte {
        width: 50%;
        padding: 2rem;
    }
}

.produit-texte {
    &__prix {
        font-size: large;
        font-weight: bold;
    }
}


.personnaliser {

    /*&__titre {

    }*/

    &__couleur {

        &--couleur1 {
            background-color: red;
            height: 1rem;
            width : 1rem;
        }
        &--couleur2 {
            background-color: blue;
            height: 1rem;
            width : 1rem;
        }
        &--couleur3 {
            background-color: yellow;
            height: 1rem;
            width : 1rem;
        }
    }
}