.presentation-produit {
    height: 35rem;
    @include style-articles;
    display: flex;

    @include second-breakpoint {
        flex-direction: column;
        height: auto;
    }
    

    h2 {
        margin: 2rem 0rem 2rem 0rem;
        font-size: xx-large;
        text-align: center;

        @include second-breakpoint {
            margin-top: 0px;
        }
        
    }

    &__image {
        object-fit: cover;
        /*object-position: left;*/
    }
    &__texte {
        padding: 2rem;
    }

    &__image, &__texte {
        width: 50%;

        @include second-breakpoint {
            width: auto;
        }
        
    }

}

.produit-texte {
    &__prix {
        font-size: large;
        font-weight: bold;
    }
}


.personnaliser {

    /*&__titre {

    }*/

    &__couleur {

        &--couleur1 {
            background-color: red;
            height: 1rem;
            width : 1rem;
        }
        &--couleur2 {
            background-color: blue;
            height: 1rem;
            width : 1rem;
        }
        &--couleur3 {
            background-color: yellow;
            height: 1rem;
            width : 1rem;
        }
    }
}