#presentationProduits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.produit {
    color: black;
    background-color: white;
    margin: 0.5rem;
    width: 48%;
    border-radius: 0.8rem;
    overflow: hidden;
    a {
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__description {
        padding: 1rem;
    }

}