.produit {
    background-color: white;
    margin: 0.7rem;
    /*width: 18rem;*/
    width: 30%;
    border-radius: 0.8rem;
    overflow: hidden;

    @include second-breakpoint {
        width: 46%;
    }

    @include first-breakpoint {
        width: 100%;
    }

    a {
        height: 20rem;
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
    }

    &__image {
        height: 70%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        margin-left: auto;
        margin-right: auto;
    }

    &__description {
        /*height: 30%;*/
        padding: 1rem;
        overflow: hidden;

        p{
            margin: 0px;
        }
    }
}